.Card {
    background-color: #252525;
    color: whitesmoke;
    max-width: 250px;
    margin: 15px;
    box-shadow: 0 0 7px rgba(0,0,0, 0.75);
    border-radius: 5px;
    overflow: hidden;
}

.Card:hover {
    background-color: #3f3f3f;
    box-shadow: 0 0 27px rgba(0,0,0, 0.75);
}

.Card img {
    display: block;
    width: 100%;
    max-width: 100%;
}

.Card h4 {
    font-size: 1.2em;
    padding-left: 15px;
    margin-bottom: 0;
}

.Card button {
    display: block;
    width: 100%;
    padding: 15px;
    background: black;
    color: white;
    border: none;
    font-size: 1em;
}

.Stats {
    padding: 15px;
}

.Stats p {
    display:  flex;
    justify-content: space-between;
}