html, body {
    padding: 0;
    margin: 0;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #363636;
    color: whitesmoke;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
ul {
    list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 1em;

}